body {
  background-color: black;
  color: white;

  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

.cards-container {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: gray;
  border: 1px solid rgb(255, 196, 0);
  width: 20%;
  padding: 25px;

}

.image_hero {
  width: 100%;
}

.star-ratio {
  margin: 7px;
}